<h1>Confirmez votre adhésion à la charte</h1>

<p>
    Merci pour votre soutien à Union Citoyenne.
    Pour confirmer votre adhésion, cliquez sur le lien ci-dessous:
</p>

<p>
    <a href="{{ signedUrl }}">Confirmer mon adhésion</a>
</p>

<p>
    Ce lien expire {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
